<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>shop</display-name>
  <welcome-file-list>
    <welcome-file>queryCommodityServlet</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>cn.vaf714.filter.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistServlet</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.RegistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowCommodityServlet</display-name>
    <servlet-name>ShowCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.ShowCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowCommodityServlet</servlet-name>
    <url-pattern>/showCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddCommodityServlet</display-name>
    <servlet-name>AddCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.AddCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCommodityServlet</servlet-name>
    <url-pattern>/addCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommodityServlet</display-name>
    <servlet-name>DeleteCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.DeleteCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommodityServlet</servlet-name>
    <url-pattern>/deleteCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AlterCommodityServlet</display-name>
    <servlet-name>AlterCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.AlterCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlterCommodityServlet</servlet-name>
    <url-pattern>/alterCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryCommodityServlet</display-name>
    <servlet-name>QueryCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.QueryCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryCommodityServlet</servlet-name>
    <url-pattern>/queryCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShoppingCommodityServlet</display-name>
    <servlet-name>ShoppingCommodityServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.ShoppingCommodityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCommodityServlet</servlet-name>
    <url-pattern>/shoppingCommodityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowShoppingCartServlet</display-name>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.ShowShoppingCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowShoppingCartServlet</servlet-name>
    <url-pattern>/showShoppingCartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.vaf714.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
</web-app>